@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    @{
        if (User.Identity.IsAuthenticated)
        {
          <h2>Are you sure you want to logout?</h2>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn-primary ">Yes Logout!</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>