@{
    ViewData["Title"] = "About";
}
<h2 class="text-white-50">@ViewData["Title"]</h2>

<h1 class="text-white-50">Full Stack Project Developed by Leo Lazzarini.</h1>
<a class="btn-primary btn-sm" href="https://github.com/leolazz">Github</a>
<a class="btn-primary btn-sm" href="https://www.linkedin.com/in/leo-lazzarini-7981b461/">Linkedin</a>
